#room .torch{
  background-image: url(http://i.imgur.com/ZPk4NVn.gif) !Important;
  width: 200px !Important;
  height: 200px !Important;
  background-color: rgba(255,0,0,0.5) !Important;
  top: 225px !Important;
  
}

#room .torch.right{
  transform: rotate(180deg) !important;
}

#room .torch:not(.right){
  left: calc(0% + 200px) !Important;
}
