/* Text settings */
  /* Formatting */
#room-bar *,
#now-playing-bar *{
  font-weight: lighter !Important;
}
.friends .header{
  font-style: italic !Important;
}
  /* Sizing */
    /* DJ history */
#history-panel .name,
#history-panel .timestamp,
#user-history .name,
#user-history .timestamp{
	font-size: 17px !Important;
}
    /* Header */
#room-bar span{
  font-size: 20px !Important;
}
#now-playing-time span,
#volume span{
  font-size: 18px !Important;
}
    /* Footer */
#your-active-playlist{
  font-size: 12px !Important;
}
