/* plug.dj themescript made for Chillout Mixer

   --- Information ---
   
   This is an affiliated themescript and hosted theme.
   If you would like to see more details and information
   about our development please see our repository:
   https://github.com/themescript/themescript.github.io

   Coded using universal properties exclusively.
   Non-CSS3 browsers will encounter compatibility issues.
   
   Version 4 (05/04/15)

   --- Credits and contact ---

   Primary style developer:
   HEEBEEJEEBEES; bluufoxx[at]gmail[dot]com

   Original concept, theme director and code host:
   Wizzikz; rihikz[at]gmail[dot]com

   Community host, community background and assorted UI images:
   Nighthawk; nite4wk[at]gmail[dot]com

   Chillout Mixer logo and assorted site images:
   FunkyBrewster

   Additional icons and style work:
   EckerDecker

   All other members of the chilloutmixer community who provided useful input on style development

   You. Yes, you! Keep on chillin' !

   Additional icons modified without permission are property of plug.dj and plugcubed art / development teams.

*/

/* Theme components */
/* > Additional styles for plugins are handled by plugins.css */
@import url("https://themescript.github.io/themes/blue/cmixfx.css") /* Effects */;
@import url("https://themescript.github.io/themes/blue/cmixhid.css") /* Removed / Hidden */;
@import url("https://themescript.github.io/themes/blue/cmixclr.css") /* Colours */;
@import url("https://themescript.github.io/themes/blue/cmixbg.css") /* Backgrounds / Gradients */;
@import url("https://themescript.github.io/themes/blue/cmixico.css") /* Icons */;
@import url("https://themescript.github.io/themes/blue/cmixtxt.css") /* Text settings */;
@import url("https://themescript.github.io/settings/loading.css");
@import url("https://themescript.github.io/badges/badges.css");
@import url("https://themescript.github.io/settings/settings.css");
@import url("https://themescript.github.io/plugins/plugins.css");
@import url("https://themescript.github.io/settings/roominfo.css");

/* Borders */
  /* Search menu */
#search-menu .last{
  border-top-color: #444a59 !Important;
} /* XP bar */
g .bar{
  box-shadow: inset 0px 0px 0px 8px rgb(29, 69, 110),
              0px 0px 0px 4px rgb(54, 95, 128) !Important;
}
  /* user rollover arrows */
#user-rollover:not(.chat) .arrow-down{
  border-top-color: rgb(29, 69, 110) !important;
}
#user-rollover:not(.chat).expand .arrow-down{
  border-top-color: rgb(30, 41, 66) !Important;
}   /* Chat */
#user-rollover.chat .arrow-down{
  border-left-color: rgb(30, 41, 66) !important;
}
#user-rollover.upwards.chat .arrow-down{
  border-left-color: rgb(30, 41, 66) !important;
}
#user-rollover.self.upwards.chat .arrow-down{
  border-left-color: rgb(29, 69, 110) !Important;
}
  /* Avatar thumbnails */
.thumb,
#user-rollover I{
  border-color: rgb(92, 135, 179) !Important;
}
#footer .thumb{
  border-width: 2px !Important;
}
#user-inventory .row.avatar .item{
  border-bottom: 1px solid #074973 !Important;
}
  /* User lists */
#user-lists .button.staff.selected{
  border-bottom-color: rgb(92, 135, 179) !important;
}
#user-lists .button:not(.room):not(.staff).selected{
  border-bottom-color: rgb(255, 45, 49) !Important;
}
/* Miscellaneous settings */
  /* Shadows */
    /* Menu differentiation */
#user-view,
#room-settings{
  box-shadow: inset -30px 30px 30px -30px rgb(0, 0, 0) !Important;
}
  /* Right-side stuff */
    /* Header buttons */
.header-panel-button:not(.selected){
  box-shadow: inset 0px -15px 15px -15px rgb(0, 0, 0) !Important;
}
.dialog-body{
  box-shadow: inset 0px 15px 15px -15px rgb(0, 0, 0),
               inset 0px -15px 15px -15px rgb(0, 0, 0) !Important;
}
    /* Generated by pseudochildren */
      /* Shop / Inventory */
.user-content .grid .cell .top:before,
.user-content .grid .cell .top:after{
  content: '' !Important;
  width: 100% !important;
  height: 100% !important;
  position: absolute !Important;
  top: 0px !Important;
  left: 0px !Important;
}
.user-content .grid .cell .top img,
.user-content .grid .cell .top i,
.user-content .grid .cell .top .level{
  z-index: 1 !Important;
}
      /* Right side */
        /* Shadow General settings */
#chat:before,
.app-right .list:before{
  pointer-events: none !Important;
  z-index: 1 !Important;
  content: '' !important;
  position: absolute !Important;
}       /* Chat output */
#chat:before{
  top: 46px !important;
  height: calc(100% - 97px) !Important;
  width: calc(100% + 30px) !Important;
  box-shadow: inset 0px 15px 15px -15px rgb(0, 0, 0),
              inset 0px -15px 15px -15px rgb(0, 0, 0) !Important;
}       /* Lists */
.app-right .list:before{
  left: -15px !Important;
  width: calc(100% + 30px) !Important;
  height: 100% !Important;
  box-shadow: inset 0px 0px 15px 0px rgb(0, 0, 0) !Important;
}

#p3-settings .container,
#p3-settings-custom-colors .container,
.pop-menu:not(.up) .menu{
  box-shadow: inset 0px 15px 15px -15px rgb(0, 0, 0) !important;
}
.pop-menu.up .menu{
  box-shadow: inset 0px -15px 15px -15px rgb(0, 0, 0) !important;
}   /* Voting */
#vote .crowd-response:hover:not(.selected):not(.disabled) .bottom {
  box-shadow: 0px -10px 10px rgb(22, 31, 49) inset,
              0px 0px 5px rgba(0,0,0,0.8) inset !important;
}
    /* Video playback, dialogs, user info, app stuff, buttons */
#dialog-container .dialog,
#dj-button,
#vote:before,
#playback-container,
#user-rollover,
#p3-settings,
#p3-settings-custom-colors,
#app-menu.open{
  box-shadow: 0px 0px 30px 10px rgb(0, 0, 0) !important;
}
#toast-notifications .notification,
.drag-media-box,
div.pop-menu{
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0) !important;
}
#app{
  box-shadow: inset -345px 30px 50px rgb(0, 0, 0) !Important;
}
    /* Focused boxes / buttons */
.general-settings .input-background,
#the-user-profile .blurb input,
#history-button.selected{
  box-shadow: inset 0px 0px 15px 0px rgb(0, 0, 0) !important;
}     /* Animated box shadows; Default state */
#chat-input:not(.focused),
.search:not(.focused),
#search-bar:not(.focused),
#filter-bar:not(.focused),
.list-header .input-background:not(.focused),
#user-inventory .badges .cell{
  box-shadow: none;
  transition: box-shadow 0.2s !Important;
}     /* Animated box shadows; Active state */
#chat-input.focused,
.search.focused,
#search-bar.focused,
#filter-bar.focused,
.list-header .input-background.focused,
#user-inventory .badges .cell:hover,
#user-inventory .badges .cell.selected{
  box-shadow: inset 0px 0px 15px 0px rgb(0, 0, 0) !important;
  transition: 0.2s !Important;
}   /* Used for colour / overlap */
.friends .header{
  box-shadow: inset 0px 0px 0px 24px rgba(0, 0, 0, 0.50) !Important;
}   /* Used as border */
#chat-suggestion{
  box-shadow: 0px 1px 0px 0px rgb(50, 60, 83) !Important;
}
#video-only-dj{
  box-shadow: inset 1px 0px 0px rgb(92, 135, 179) !important;
}
  /* Extra history panel text */
#history-panel .name:before{
  content: "By " !important;
}
  /* Change width of now playing */
#now-playing-bar > #now-playing-media{
  width: calc(100% - 274px) !Important;
}
  /* Always show volume slider and playback controls */
#volume .slider,
#playback-controls{
  display: block !Important;
}
  /* Room bar badge settings */
#room-bar .icon-room:before,
#room-bar .icon-room:after{
  content: '' !Important; /* Do not remove */
  display: block !Important;
  width: 30px !Important;
  height: 30px !Important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !Important;
}
  /* Request alert icon settings */
.friends.has-requests > .header > I{
  border-radius: 0px !Important;
  width: 30px !Important;
  height: 30px !Important;
}
  /* Rounding of XP bar */
#footer .bar,
#footer .bar .progress{
  border-radius: 2px !Important;
}
#footer .bar .progress{
  min-width: 2px !Important;
}
#the-user-profile .bar,
#the-user-profile .bar .progress{
  border-radius: 4px !Important;
}
#the-user-profile .bar .progress{
  min-width: 4px !Important;
}
  /* Vote background shadow */
#vote:before{
  content: '' !Important;
  border-radius: 2px !Important;
  width: 254px !Important;
  height: 61px !Important;
  position: absolute !Important;
  top: 0px !Important;
  left: 0px !important;
}
  /* Tooltip extras */
    /* Normal / Blue */
#tooltip:not(.purple):not(.orange) .corner{
  border-top-color: rgb(92, 135, 179) !important;
  border-left-color: rgb(92, 135, 179) !important;
}
#tooltip.right:not(.purple):not(.orange) .corner{
  border-top-color: rgb(92, 135, 179) !important;
  border-right-color: rgb(92, 135, 179) !important;
}   /* Purple */
#tooltip.purple .corner{
  border-top-color: rgb(29, 69, 110) !important;
  border-left-color: rgb(29, 69, 110) !important;
}
#tooltip.right.purple .corner{
  border-top-color: rgb(29, 69, 110) !important;
  border-right-color: rgb(29, 69, 110) !important;
}
    /* Orange */
#tooltip.orange .corner{
  border-top-color: rgb(255, 45, 49) !important;
  border-left-color: rgb(255, 45, 49) !important;
}
#tooltip.right.orange .corner{
  border-top-color: rgb(255, 45, 49) !important;
  border-right-color: rgb(255, 45, 49) !important;
}

/* Object positioning and sizing */
  /* Header */
    /* Has friend requests */
.friends.has-requests > .header > I{
  margin-left: -12px !Important;
  margin-top: -12px !Important;
}
    /* Z-position */
#volume span,
#now-playing-time{
  z-index: 11 !Important;
}
#volume .button{
  z-index: 12 !important;
}
#p3-settings-custom-colors{
  z-index: 1499 !important;
}
    /* Text */
#room-bar > #room-name{
  margin-top: 6px !Important;
}

#room-bar > #room-host{
  margin-top: -16px !Important;
}
#now-playing-time{
  margin-top: -2px !important;
  margin-right: 117px !important;
}   /* Volume */
#volume{
  margin-top: -26px !Important;
  margin-right: 54px !important;
}
      /* Button */
#volume .button{
  height: 55px !Important;
  width: 54px !Important;
  right: -64px !Important;
  top: -1px !Important;
}         /* Icon position */
#volume i{
  top: 12px !Important;
  left: 9px !Important;
}
      /* Slider */
#volume .slider{
  top: 26px !Important;
  right: -4px !Important;
}
    /* Footer */
#your-next-media span,
#your-next-media .song{
  top: 8px !Important;
}
#your-active-playlist span{
  top: 30px !Important;
  left: 1px !Important;
}
    /* User info */
#footer-user .info{
  margin-top: 1px !important;
}
    /* Footer text */
#your-next-media{
  left: 0px !Important;
}   /* Waitlist positions */
#waitlist .user:nth-child(-n+9) .meta{
  left: 27px !Important;
}
#waitlist .list.manager .user:nth-child(-n+9) .meta{
  left: 52px !Important;
}
  /* History panel text */
#history-panel .name,
#history-panel .timestamp,
    /* User history */
#user-history .name,
#user-history .timestamp{
  text-align: right !important;
	top: 24px !Important;
}
#history-panel .timestamp {
  right: 2px !important;
}   /* Song name? */
#history-panel .author,
#user-history .author{
  width: calc(100% - 300px) !important;
}
#history-panel .name,
#user-history .name {
  right: 145px !important;
}   /* Community name */
#user-history .name{
  width: 110px !Important;
}
  /* Notifications */
#toast-notifications .right{
  margin-top: -1px !Important;
  padding-top: 1px !Important;
}
  /* Vote and DJ button */
.video-only #woot,
#video-only-dj,
#vote > #grab,
#vote > #meh{
  margin-left: -1px !Important;
}
#video-only-dj,
#vote > #grab{
  padding-right: 2px !important;
}
#video-only-dj.djing .icon{
  margin-left: 3px !Important;
}

/* Highlights */
  /* Selected items */
#user-menu .item.selected,
#room-settings-menu .item.selected,
#chat-suggestion .chat-suggestion-item.online:hover,
#playlist-menu .row:hover,
#playlist-menu .row.selected,
#user-lists .user:hover,
#waitlist .user:hover{
  background-image: linear-gradient(to right,
                                    rgb(54, 95, 128) 52%,
                                    transparent 100%) !important;
}
  /* Offline friends */
.is-offline .thumb{
  border-color: rgb(85, 93, 112) !important;
}
  /* Chat */
    /* Alterating rows */
#chat-messages :nth-child(odd).cm,
#chat-messages :nth-child(odd).message{
  -webkit-box-shadow: inset 0px 0px 0px 200px rgba(0, 0, 0, 0.25) !Important;
  box-shadow: inset 0px 0px 0px 200px rgba(0, 0, 0, 0.25) !Important;
}
    /* Mentions */
      /* All users */
.mention.is-you{
  background: linear-gradient(100deg,
                              rgb(29, 69, 110) 0%,
                              rgb(30, 41, 66) 45px,
                              transparent 100%)
                              repeat scroll 0% 0% transparent !important;
}
.mention.is-subscriber{
  background: linear-gradient(100deg,
                              #5EB5A5 0%,
                              rgb(30, 41, 66) 45px,
                              transparent 100%)
                              repeat scroll 0% 0% transparent !important;
}     /* Subs */
/* Staff */
.mention.is-dj,
.mention.is-staff{
  background: linear-gradient(100deg,
                              rgb(92, 135, 179) 0%,
                              rgb(30, 41, 66) 45px,
                              transparent 100%)
                              repeat scroll 0% 0% transparent !important;
}     /* BA */
.mention.is-ambassador{
  background: linear-gradient(100deg,
                              #89be6c 0%,
                              rgb(30, 41, 66) 45px,
                              transparent 100%)
                              repeat scroll 0% 0% transparent !important;  
}     /* Admin */
.mention.is-admin,
.cm.system{
  background: linear-gradient(100deg,
                              #42a5dc 0%,
                              rgb(30, 41, 66) 45px,
                              transparent 100%)
                              repeat scroll 0% 0% transparent !important;
} /* Delete button: Hover */
#playlist-delete-button:hover{
  box-shadow: inset 0px 0px 0px 30px rgb(255, 45, 49) !important;
}
