.room-background{
  background-image: url("http://i.imgur.com/zSMRtE6.png") !important;
}

/* Row settings */
  /* Row height */
#playlist-menu .row,
.pop-menu li{
  height: 20px !Important;
} /* Font settings */
#playlist-menu .row span,
.pop-menu li span{
  top: 2px !Important;
  font-size: 8pt !Important;
}

/* Icon settings */
  /* General */
    /* stock */
.pop-menu li i.icon-create-playlist{
  background-position: -245px -114px !important;
}
    /* dungeon */
#playlist-menu .activate-button i{
  background-image: url(https://themescript.github.io/images/dungeon/smlchk.png) !important;
  background-size: 30px 15px !Important;
}
  /* Size and position */
#playlist-menu .row .activate-button i,
#playlist-menu .row.selected:not(:hover) .activate-button i,
.pop-menu li i.icon{
  width: 15px !Important;
  height: 15px !Important;
  background-position: -15px 0px !Important;
} /* Playlist: Selected on hover */
#playlist-menu .row:hover.selected .activate-button i{
  background-position: 0px 0px !Important;
} /* Placement */
#playlist-menu .activate-button i{
  left: 7px !Important;
  top: -1px !Important;
}
.pop-menu li i.icon{
  left: 11px !Important;
  top: 3px !important;
}   /* New playlist */
.pop-menu li.create i{
  width: 30px !Important;
  height: 15px !Important;
  left: 4px !important;
  top: 3px !Important;
}

/* Disappear */
#playlist-menu .spinner{
  display: none !Important;
}

#playback img,
#room .torch{
  display: none !Important;
}
