/* Secondary badges (After events) */

/* Phazym */
#chat-messages [data-cid^="3818329"] .bdg {
  background-image: url(https://themescript.github.io/badges/phazym.png) !important;}

/* Rightclik */
#chat-messages [data-cid^="3834890"] .bdg {
  /* background-image: url(http://i.imgur.com/SNODayh.png) !important; */
  background-image: url(http://i.imgur.com/FoQw9Rh.png) !important;}

/* TerminallyChill */
#chat-messages [data-cid^="3537523"] .bdg{
  background-image: url(http://i.imgur.com/Jk4TVtp.png) !important;
}

/* Hoarse- */
#chat-messages [data-cid^="3988637"] .bdg{
  background-image: url(http://i.imgur.com/1E1VjLp.png) !Important;
}

/* FunkyBrewster */
#chat-messages [data-cid^="4152442"] .bdg {
  background-image: url(http://i.imgur.com/7GRiLHj.png) !important;}

/* Backend: EckerDecker */
#chat-messages [data-cid^="4386405"] .bdg{
  background-image: url(http://i.imgur.com/Bbbo9fN.png) !important;}
